body{
    background: #202020;
    color: antiquewhite;
    font-family: sans-serif;
    text-align: center
}

div #score{
    display: inline;
}

canvas {
    border : 2px solid #eee;
    height: 90vh;
}